# .NET
backend/**/bin/
backend/**/obj/

# database
*.db
backend/**/*.db
backend/**/*.db-shm
backend/**/*.db-wal

# Java
target/

# Node
frontend/node_modules/
frontend/dist/
frontend/coverage/
frontend/npm-debug.log*

# IDE
.idea/
.vscode/
*.user

# OS
.DS_Store
Thumbs.db

# other
c-sharp
out/


